.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e58ff;
    padding: 10px;

    .logo-wrapper {
        height: 50px;

        img {
            height: 100%;
        }
    }

    .menu-buttons {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
        }

        .menu-button {
            margin: 10px;
            color: white;
        }
    }
}