.header-container {
    display: flex;
    width: 101vw;
    margin-left: -1vw;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary;
    padding: 10px 2vw;
    box-shadow: 0px 2px 5px -2px black;
    z-index: 2;

    .logo-wrapper {
        height: 60px;

        img {
            height: 100%;
        }
    }

    .menu-buttons {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            border-radius: 10px;

            &:hover {
                background-color: $secondary-light;
            }
        }

        .menu-button {
            margin: 10px;
            color: $primary-txt;
        }
    }
}