.login-wrapper {
    display: flex;
    align-items: center;
    background: linear-gradient(
            0deg,
            $secondary-trsp,
            $secondary-trsp
        ),
        url("../img/friends.jpg");
    background-size: cover;
    background-position-y: 5%;
    height: calc(100vh - 20px);
    width: 100vw;
    padding-top: 20px;

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        padding: 20px 40px;

        img {
            height: 100%;
        }
    }

    .left-login {
        color: $secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        align-items: flex-start;
        height: 100%;
        width: 60%;

        .welcome {
            width: 50%;
            color: white;
            white-space: nowrap;
            font-size: 5vw;
            margin: 0;
            margin-left: 20%;
        }

        .name {
            margin: 0;
            color: $primary;
            font-size: 8vw;
            font-family: "Pacifico", cursive;
            margin-left: 5%;
        }
    }

    .right-login {
        width: 20%;
        height: 50%;
        min-width: 300px;
        min-height: 400px;

        &.sign-up {
            min-height: 520px;
        }

        background-color: $primary-trsp;
        color: $primary-txt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 2px 2px 5px -2px black;

        h1 {
            padding-bottom: 10px;
            font-size: 1.8rem;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            label {
                padding: 5px;
                align-self: flex-start;
                font-size: 1.2rem;
            }

            input {
                margin-bottom: 10px;
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid black;
                font-size: 1rem;

                &:active {
                }
            }

            button {
                margin: 20px 0 20px 0;
                background-color: $secondary;
                border: 1px solid $secondary;
                color: $secondary-txt;
                border-radius: 5px;
                padding: 10px 30px;
                font-size: 1rem;

                &:hover {
                    background-color: $secondary-trsp;
                    border: 1px solid $secondary;
                    color: $quaternary;
                }
            }
        }

        .login-link {
            text-decoration: none;
            margin: 10px;
            color: black;
        }
    }

    .attribution {
        position: absolute;
        bottom: 0;
    }
}
