.message-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    textarea {
        border-color: lightgray;
        border-radius: 10px;
        height: 80%;
        width: 50vw;
        margin: 50px 0 0 0;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        resize: none;
    }
}