.message-wrapper {
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 7vw;
    margin-bottom: 10px;
    width: fit-content;

    &.received {
        background-color: lightgray;
        align-self: flex-end;
        margin-right: 7vw;
    }

    .message {
        padding: 15px;
        max-width: 30vw;
    }
}