.message-wrapper {
    background-color: $tertiary-trsp;
    color: $primary-txt;
    border-radius: 30px;
    margin-bottom: 10px;
    width: fit-content;
    // border: 2px solid $tertiary;
    font-weight: 400;
    letter-spacing: .1rem;
    font-size: 1rem;
    margin: 30px 30vw 0 0;
    box-shadow: 2px 2px 5px -2px black;

    &.received {
        background-color: rgba($primary, .5);
        color: $primary-txt;
        // border: 2px solid rgba($primary, .5);
        margin: 30px 0 0 30vw;
    }

    .message {
        padding: 15px;
        max-width: 30vw;
    }
}