@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$mi-blue: #2e58ff;
$saffron: #EAC435;
$blue: #072AC8;
$mid-blue: #1E96FC;
$light-blue: #A2D6F9;
$yellow: #FCF300;
$dark-yellow: #FFC600;
$ruby: #E40066;
$light-green: #03CEA4;
$ocean-blue: #2AB7CA;
$o-yellow: #FED766;
$gainsboro: #E6E6EA;
$orange: #FE4A49;
$primary: $o-yellow;
$primary-trsp: rgba($primary, .9);
$primary-txt: black;
$secondary: $ocean-blue;
$secondary-light: #3bcfe3;
$secondary-trsp: rgba($secondary, .2);
$secondary-txt: white;
$tertiary: $orange;
$tertiary-trsp: rgba($orange, .5);
$tertiary-txt: white;
$quaternary: $gainsboro;
$quaternary-dark: #c3c3c5;
$alt2: $saffron;
$alt2-txt: black;